/* ============================================
   INNER PAGE STYLES
   ============================================ */

/* INNER HERO — swap --inner-hero-url in Theme Switcher Script */
:root {
    --inner-hero-url: url(/media/images/1368/AvOx13689095.jpg);
}

#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper {
    background: #f4eee2 !important;
    border-bottom: none;
}

.co_content_container {
    background: #f9f6f0;
}

@media (min-width: 1025px) {
    body.sites-article #content {
        margin-top: 104px;
    }
}

div#ContentBody {
    min-height: 70vh;
}

div#confirm-wrapper::after, div#donate-wrapper::after {
    background-color: transparent;
}

.master-content-wrapper {
    background-image: var(--inner-hero-url);
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

h1.article-header__title.js-article-title.js-page-title {
    color: #F9F6F0 !important;
    text-align: center;
}

#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper .article-header {
    text-align: center;
}

#BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) {
    padding-top: 115px;
    padding-bottom: 115px;
}

.cover-it {
    opacity: 0;
}

.cal_header_buttons .cal_button .button {
    background-color: var(--e-global-color-accent);
}
.cal_header_buttons .co_toggle_buttons .item {
    border: 2px solid var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
}
.cal_header_buttons .co_toggle_buttons .item.selected {
    border: 2px solid var(--e-global-color-secondary);
    background: var(--e-global-color-secondary);
}

.cal_header_info a {
    color: var(--e-global-color-accent);
    border-bottom: 1px dotted var(--e-global-color-secondary);
}

.cal_header_info .bold, .cal_header_info b {
    color: var(--e-global-color-secondary);
}

.cal_header_info {
    color: var(--e-global-color-primary);
}

.no-hero-image #co_ads_container, .no-hero-image #co_body_container, .no-hero-image .co_local_menu {
    padding-top: 80px;
}

.co_body h1, .co_body h2 {
    font-family: var(--heading-font-family);
}
